<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= tree.name %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= tree.image %>" >
            <div class="content">
                <span><%= tree.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- tree.body %></p>
            </div>
            <a class="ui orange basic button" href="/trees/<%= tree._id %>/edit">Edit</a>
            <form id="delete" action="/trees/<% tree._id %>?method=DELETE" method="POST">
		<button class="ui red big basic button">Delete</button>
	</form>
        </div>
    </div>
	
<% include ./partials/footer %>
